
.bubble-left {
  position: relative;
  background-color: #e5e7eb;
  color: #374151;
  border-radius: 20px 20px 20px 0;
  padding: 8px 12px;
  max-width: 300px;
  margin: 8px;
}

.bubble-left::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #e5e7eb;
}

.bubble-right {
  position: relative;
  background-color: #86efac;
  color: #14532d;
  border-radius: 20px 20px 0 20px;
  padding: 8px 12px;
  max-width: 300px;
  margin: 8px;
}

.bubble-right::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 10px; 
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #86efac;
}

@keyframes fadeInOverlay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .animate-fadeInOverlay {
    animation: fadeInOverlay 0.3s ease forwards;
  }
  
  /* Modal scale + fade in */
  @keyframes scaleUp {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .animate-scaleUp {
    animation: scaleUp 0.3s ease forwards;
  }