.hiddenScrollBar {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hiddenScrollBar::-webkit-scrollbar {
    display: none; /* Chrome và Safari */
  }
  